:root {
  --theme-color: #78c9d1;
  --theme-color-light: #78c9d126;
}
/* Poppins font family - loaded from Google Fonts */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  color: #555555;
  text-decoration: none;
  max-width: 450px;
  text-align: center;
  /* box-shadow: 1px 2px 15px #48484833; */
  padding-bottom: 90px;
  /* background-image: url('./bgwood.jpg'); */
  /* padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px; */
  word-break: break-word;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

strong,
b {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  position: relative;
  padding-top: 70px;
  color: #ffffff;
  background-color: #3c3d41;
}

.views-label {
  padding: 5px 10px;
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  border: 1px solid transparent;
  font-size: 14px;
  margin-bottom: 0px;
  border-top: 0;
  background: var(--theme-color);
}

.logo-container {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-pic-img {
  max-width: 180px;
  margin-bottom: 0;
  border: none;
  padding: 0;
}
.profile-pic-img.no-border {
  border: 0;
  border-radius: 0;
}

.firmname {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
}

.firmname-underline {
  width: 40%;
  background-color: var(--theme-color);
  height: 2px;
  margin-bottom: 10px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 4px 0 0;
}
/* cahnge color to #f37021 */
.theme-stripe {
  height: 20px;
  background-color: #f37021;
  box-shadow: 0 10px 20px 0 #dbdbe8;
}

.trapezoid {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 120px;
  background: #3c3d41;
  border-radius: 0 0 20px 20px;
  transform: perspective(350px) rotateX(-65deg);
  margin-top: -50px;
  box-shadow: 0 26px 20px 0 #dbdbe8;
  opacity: 0.97;
}

.section-top-trapezoid {
  opacity: 0.94;
  height: 95px;
  margin-top: -44px;
}
.section-bottom-trapezoid {
  opacity: 0.94;
  height: 95px;
  margin-bottom: -44px;
  transform: perspective(350px) rotateX(-115deg);
}

.lower {
  margin-top: 50px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}

/* .contact-info-container::before {
  content: " ";
  width: 60px;
  margin: 0 auto;
  height: 75%;
  background: var(--theme-color);
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0 26px 20px 0 #dbdbe8;
  opacity: 0.97;
  position: absolute;
  top: 50%;
  left: -17px;
  transform: translate(0, -50%) perspective(350px) rotateY(-115deg);
}

.contact-info-container::after {
  content: " ";
  width: 60px;
  margin: 0 auto;
  height: 75%;
  background: var(--theme-color);
  border-radius: 20px 0px 0px 20px;
  transform: perspective(350px) rotateY(-115deg);
  box-shadow: 0 26px 20px 0 #dbdbe8;
  opacity: 0.97;
  position: absolute;
  top: 50%;
  right: -17px;
  transform: translate(0, -50%) perspective(350px) rotateY(-65deg);
}
 */
.contact-info-container .contact-button {
  margin-bottom: 20px;
  position: relative;
}

.contact-info-container .contact-button:nth-child(even):after {
  background-color: #3c3d41;
}

.contact-info-container .contact-button:nth-child(even) .contact-buttons-icon {
  background-color: #3c3d41;
}

.contact-info-container .contact-button:nth-child(even) .contact-buttons-text {
  color: var(--theme-color);
}

.contact-info-container .contact-button .contact-buttons-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(107, 128, 168, 0.2);
  border-radius: 100px;
  margin-bottom: 5px;
  background-color: var(--theme-color);
  color: #ffffff;
  z-index: 1;
  position: relative;
}

.contact-info-container .contact-button::after {
  content: " ";
  height: 1px;
  position: absolute;
  background-color: var(--theme-color);
  top: 17.5px;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 190px;
  opacity: 0.6;
}

.contact-info-container .contact-button.alternate-number::after {
  content: none;
}

.contact-info-container .contact-button.other-email {
  margin-top: -20px;
}

.contact-info-container .contact-button.other-email .contact-buttons-icon {
  display: none;
}

.contact-info-container .contact-button.other-email::after {
  content: none;
}

.contact-info-container .contact-button .contact-buttons-text {
  color: #666666;
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: 310px;
  display: inline-block;
  line-height: 24px;
  display: block;
  margin: 0 auto;
}

.share-buttons-box {
  margin: 0 20px;
  padding: 20px;
}

.shadow-buttons {
  display: flex;
  justify-content: center;
  margin: -5px;
}

.shadow-button {
  padding: 10px 2px;
  font-size: 13px;
  color: #000;
  margin: 5px;
  background: #78c9d1;
  flex: 1;
  border-bottom: 6px solid #37393a;
  display: inline-block;
  text-align: center;
}

.shadow-button .shadow-button-icon {
  color: #000;
  vertical-align: middle;
  font-size: 15px;
  margin-right: 10px;
  margin-top: -2;
}

.save-card-button {
  display: none;
}

/* Section CSS Starts */
.page-wrapper {
  background: #fff;
  box-shadow: 1px 2px 15px #48484833;
  position: relative;
}
.section-header {
  color: var(--theme-color);
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.section-container {
  text-align: left;
  padding-bottom: 0;
  margin-top: 15px;
  line-height: 22px;
  font-size: 14px;
  position: relative;
  box-shadow: 1px 2px 15px #48484833;
  background: #fff;
  word-break: break-word;
}

.section-container .section-content-wrapper {
  padding: 20px;
  padding-bottom: 40px;
}

/* Section CSS Completed */

/* Card CSS Starts */
.card {
  text-align: left;
  /* background-color: var(--theme-color-light); */
  border: 1px solid var(--theme-color);
  padding: 15px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset; */
  box-shadow: 0 6px 20px 0 #dbdbe8;
  border-radius: 7px;
}

.card .card-title {
  font-size: 15px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/* Card CSS Completed */

/* About us info classes start */
.about-us-table {
  font-size: 14px;
  margin-top: 15px;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.about-us-table tr {
  text-align: -webkit-left;
  vertical-align: top;
}

.about-us-table .table-row-label {
  text-align: left;
  min-width: 150px;
  vertical-align: top;
  position: relative;
}

.about-us-table .table-row-label .table-row-label-text {
  display: inline-block;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.about-us-table .table-row-label .table-row-label-separator {
  position: absolute;
  right: 0;
}

.speciality-label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.about-us-text {
  text-align: left;
  max-width: 95%;
  margin: 0 auto;
}

.document-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #555555;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #555555;
}

.document-wrapper .pdf-icon {
  padding: 12px;
  padding-right: 5px;
  font-size: 18px;
}

.document-wrapper .pdf-number {
  padding: 10px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-wrapper .download-icon {
  font-size: 18px;
  padding: 12px;
  border-left: 2px solid #555555;
  color: var(--theme-color);
}

.other-links-wrapper .other-links-header {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.other-links-wrapper .other-links-link {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
  word-break: break-all;
}

.other-links-wrapper .other-links-link i {
  margin-right: 10px;
}

/* About us info classes completed */

/* Product css starts */
.product-description {
  text-align: left;
  max-width: 100%;
}

.product-enquiry-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--theme-color);
}

.product-enquiry-btn {
  padding: 7px 15px;
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--theme-color) 0%,
    var(--theme-color) 100%
  );
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
.product-download-wrapper {
  text-align: right;
  margin-bottom: 10px;
}
.product-download-wrapper button {
  appearance: none;
  border: 1px solid #ffffff;
  background: var(--theme-color);
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}
.product-download-wrapper button:disabled {
  opacity: 0.3;
}

#downloading {
  display: none;
}
/* Product css completed */

/* Payment CSS Start */
.qr-image {
  max-width: 250px;
  width: 100%;
}
/* Payment CSS Completed */

/* Gallery CSS Starts */
.images-container {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 0;
  -webkit-column-gap: 0;
}

.images-container .image-wrapper {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  padding: 3px;
}

.images-container .image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.images-container .image-wrapper img:hover {
  opacity: 0.7;
}
/* Gallery CSS Completed */

/* Feedback form CSS start */
.feedback-form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#feedback-section input[type="button"] {
  background-color: var(--theme-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 6px 0;
  font-family: "Poppins", sans-serif;
}

#feedback-section input[type="button"]:disabled {
  opacity: 0.3;
}

.feedback-form .feedback-phoneNumber {
  flex: 1;
  margin-right: 5px;
}

.feedback-form .feedback-email {
  flex: 1;
  margin-left: 5px;
}

.feedback-list .feedback-wrapper {
}

.feedback-list .feedback-wrapper .feedback-name-wrapper {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.feedback-list .feedback-wrapper .feedback-name {
  color: var(--theme-color);
  font-size: 15px;
  font-weight: 500;
}

.feedback-list .feedback-wrapper .gl-star-rating-stars > span {
  width: 18px;
  height: 18px;
  background-size: 18px;
}

#feedback-section hr {
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 0.5px;
}

.feedback-form {
  margin-bottom: 0;
  padding: 15px;
  margin-top: 20px;
}

.feedback-form .feedback-form-heading {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.feedback-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.feedback-button-wrapper input[type="button"] {
  padding: 6px 12px !important;
}
/* Feedback form CSS Completed */

/* Enquiry form CSS start */
.enquiry-form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.enquiry-form input[type="button"] {
  background-color: var(--theme-color);
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 6px 0;
}

.enquiry-form input[type="button"]:disabled {
  opacity: 0.3;
}

.enquiry-form .enquiry-phoneNumber {
  flex: 1;
  margin-right: 5px;
}

.enquiry-form .enquiry-email {
  flex: 1;
  margin-left: 5px;
}
/* Enquiry form CSS Completed */

/* Footer Menu CSS Starts */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.footer-menu {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(255, 251, 251, 0.1) inset;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  position: relative;
  background: white;
  /* border-radius: 20px 20px 0 0; */
  display: flex;

  background-image: linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(0, 0, 20, 0.5), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 20, 0.5), rgba(255, 255, 255, 0));
  /* Shadows */
  /* Shadow covers */
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
  background-attachment: local, local, scroll, scroll;
}

.footer-menu li {
  flex: 1;
  min-width: 85px;
}

.footer-menu .footer-menu-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  color: #555555;
}

.footer-menu .footer-menu-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--theme-color);
}

.footer-menu .footer-menu-text {
  font-size: 12px;
}

/* Footer Menu CSS Completed */

/* Copyright css start */
.copyright-wrapper {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: -26px;
}

.copyright-wrapper-inner {
  background-color: var(--theme-color-light);
  padding: 5px;
}

.copyright-wrapper a {
  color: rgba(0, 0, 0, 0.8);
}

.developer-credit {
  margin-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 16px;
}

.developer-credit a {
  color: var(--theme-color);
  text-decoration: none;
  font-weight: 500;
}

.developer-credit a:hover {
  text-decoration: underline;
}

/* Copyright css completed */

/* Extra util classes */
.p-30 {
  padding-top: 30px;
}

.p-20 {
  padding-top: 20px;
}
.orderedList {
  list-style: decimal;
  padding-left: 16px;
}

.unorderedList {
  list-style: disc;
  padding-left: 16px;
}

.flex {
  display: flex;
}
/* Extra util classes completed */

.pdf {
  padding-bottom: 0;
}

/* whatsapp input flag css */
.iti__flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags@2x.png");
  }
}

.iti {
  width: 100%;
}

.iti__country-name,
.iti__flag-box {
  color: #555555;
}
/* whatsapp input flag css completed */

.social-links {
  padding: 20px;
}
